# 1. Сначала указываем, где искать тяжелые бинарники торча
--extra-index-url https://download.pytorch.org/whl/nightly/cu130

# 2. Указываем сами библиотеки с флагом пре-релиза (для текстового файла это делается так)
torch
torchvision
ultralytics>=8.3.0
sahi>=0.11.36

# 3. Остальные зависимости
Pillow
numpy
scipy
opencv-python
PyYAML
openpyxl
psutil
pytest